/* Colour Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dark-iris-bg {background-color: #2D3A4E; }
.iris-bg {background-color: #33435B; }
.gold-bg {background-color: #C5A359; }
.champagne-bg {background-color: #F0EAD6; }
.floral-white-bg {background-color: #FFFAF0; }
.pugin-red-bg {background-color: #923841; }

.dark-iris-text {color: #2D3A4E; }
.iris-text {color: #33435B; }
.gold-text {color: #C5A359; }
.champagne-text {color: #F0EAD6; }
.floral-white-text {color: #FFFAF0; }
.pugin-red-text {color: #923841; }
.jet-text {color: #292929; }

.ui-datepicker {
	background-color: #33435B;
	border-radius: 3px;
	width: 20em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	font-family: "Merriweather", "Georgia", serif;
	font-weight: 700;
	position: relative;
	padding: .2em 0;
	color: #FFFAF0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	background: url(../images/icons/previous.png) 4px 4px no-repeat;	
	left: 0;
}
.ui-datepicker .ui-datepicker-next {
	background: url(../images/icons/next.png) 0 4px no-repeat;	
	right: 0;
}
.ui-datepicker .ui-datepicker-prev-hover {
	background: url(../images/icons/previous-hover.png) 4px 4px no-repeat;
	left: 0;
}
.ui-datepicker .ui-datepicker-next-hover {
	background: url(../images/icons/next-hover.png) 0 4px no-repeat;
	right: 0;
}
.ui-datepicker .ui-datepicker-prev.ui-state-disabled {
	background: url(../images/icons/previous-state-disabled.png) 4px 4px no-repeat;	
	left: 0;
}
.ui-datepicker .ui-datepicker-next.ui-state-disabled {
	background: url(../images/icons/next-state-disabled.png) 0 4px no-repeat;	
	right: 0;
}


.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	background-color: #fff;
	font-family: "Open sans", sans-serif;
	border: 1px solid #2D3A4E;
	width: 100%;
	font-size: 1em;
	border-collapse: separate;
	border-spacing: 2px;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	width: 25px;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: 0.4em;
	text-align: center;
	text-decoration: none;
}

.ui-datepicker td a { color: #292929;}

.ui-datepicker td a:hover {
	background-color: #c5a35980;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
/* .ui-datepicker .ui-datepicker-today,  */
.ui-datepicker .arrival-date {
	border: 1px solid #C5A359;
	color: #292929;	
	font-weight: 900;
	border-radius: 3px;
}

/* .ui-datepicker .ui-datepicker-today .ui-state-highlight, */
.ui-datepicker .arrival-date .ui-state-highlight {
	color: #292929;
}

.ui-datepicker .ui-datepicker-current-day {
	background-color: #C5A359;
	border-radius: 3px;
	border: none;	
}
.ui-datepicker .ui-datepicker-current-day a:hover {
	background-color: #A6843A;	
}
.ui-datepicker .ui-datepicker-current-day a,
.ui-datepicker .ui-datepicker-current-day .ui-state-highlight {
	font-weight: 900;
	color: #fff;	
}

.ui-datepicker-unselectable.ui-state-disabled {
	color: #ccc;
	cursor: not-allowed;
}


/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}