/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter	: http://twitter.com/mattberridge
---------------------------------------*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;}
body {
  margin: 0;
  font: 1.5em/1.5 'Georgia', Times New Roman, serif;
  color: #373529; }


.container {
  position:relative;
  overflow: hidden;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2%; }
  
.left {float: left;}
.right {float: right;} 
  
/* Colour Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dark-brown-bg {background-color: #373529; }
.blue-bg {background-color: #34c4d9; }
.light-beige-bg {background-color: #f5f2db; }
.dark-beige-bg {background-color: #a8a389; }

.dark-brown-txt {color: #373529; }
.blue-txt {color: #34c4d9; }
.light-beige-txt {color: #f5f2db; }
.dark-beige-txt {color: #a8a389; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */  

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: normal;}

h3 {margin-bottom: 0.5em;}
  
h1 {font-size: 2.4rem; line-height: 1.2;  letter-spacing: -.1rem;  font-style: italic; }
h2 {font-size: 2.0rem; line-height: 1.25; letter-spacing: -.1rem;  margin-bottom: 0.5em}
h3 {font-size: 1.6rem; line-height: 1.3;  letter-spacing: -.05rem; font-weight: bold;}
h4 {font-size: 1.6rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 {font-size: 1.4rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 {font-size: 1.2rem; line-height: 1.6;  letter-spacing: 0; }
  
p {
  text-align: justify;
  margin: 0 0 1em 0; }

a {
  color: #fff; }  
  
img {
  display: block;
  max-width: 100%; }
  
h1.heading {
  padding: 0.5em;
  background-color: #f5f2db;
}
.small {
	font-size: 0.75em;
} 
 
.fancy {
  padding: 1.5em 0;
  line-height: 1em;
  text-align: center;
}

.fancy span, .fancy ul {
  display: inline-block;
  position: relative; 
  text-transform: uppercase;  
}
.fancy span:before,
.fancy span:after,
.fancy ul:before,
.fancy ul:after  {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #ccc;
  top: 50%;
  width: 600px;
}
.fancy span:before,
.fancy ul:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after,
.fancy ul:after {
  left: 100%;
  margin-left: 15px;
}
.fancy span em {text-transform: none;}  

hr {
border: none;
border-top: 1px solid #ccc;
margin: 2em 0;
}  
  
  
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {text-decoration: none; color: #34c4d9;}
a:hover {color: #a8a389; }
  
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, 					/* Button Defaults */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 32px;
  padding: 0 16px;
  color: #f5f2db;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #373529;
  border-radius: 3px;
  border: 1px solid #373529;
  cursor: pointer;
  box-sizing: border-box;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out; }
	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover,
	.button:focus,
	button:focus,
	input[type="submit"]:focus,
	input[type="reset"]:focus,
	input[type="button"]:focus {
	  color: #f5f2db;
  background-color: #605c47;  
	  border-color: #605c47;
	  outline: 0; }
	  
.button.button-primary, 	/* Button Primary */
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #34c4d9;
  border-color: #34c4d9; }
	.button.button-primary:hover,
	button.button-primary:hover,
	input[type="submit"].button-primary:hover,
	input[type="reset"].button-primary:hover,
	input[type="button"].button-primary:hover,
	.button.button-primary:focus,
	button.button-primary:focus,
	input[type="submit"].button-primary:focus,
	input[type="reset"].button-primary:focus,
	input[type="button"].button-primary:focus {
	  color: #fff;
	  background-color: #71d4e4;
	  border-color: #71d4e4; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form {
  margin-bottom: 1em;}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: Arial, sans-serif;
  font-size: 14px;	
  height: 32px;
  width:100%;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #dc2911;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: 1em; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

#header .check-availability .button {
	display: block;
	margin: 10px auto 5px;
}  
#header .check-availability .button span {
	background: url(../images/arrow_down_18px.png) no-repeat;	
	display:inline-block;
	margin-left: 8px;
	height:10px;
	width: 18px;	
}

#header .check-availability .button.active span {
	background: url(../images/arrow_up_18px.png) no-repeat;	
}

#header .check-availability form {
	display:none;
	position: relative;
	background-color: #fff;
	border: 2px solid #a8a389;
	padding: 0.5em;
	z-index: 400;
}

#header .check-availability label,
#enquiries label {
	margin: 0;
	float: left;
	width: 35%;
	padding-top: 5px;	
}

#header .check-availability form input[type="text"],
#header .check-availability form select {
	width:65%;
	margin-bottom: 5px;	
}
#enquiries input[type="text"], 
#enquiries select{
	width:65%;
	margin-bottom: 10px;	
}

#header .check-availability form input[type="submit"],
#enquiries input[type="submit"] {
	display:block;
	margin: 0 auto;
}

#header .check-availability form h2 {
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: .1rem;
	text-align: center;
}

#header .check-availability form #arrivaldate {
	background: url(../images/calendar.png) 98% 2px no-repeat;
	cursor: pointer;
}

#mc-embedded-subscribe-form {
	display: block;
	padding: 0.6em;
	}
#mc-embedded-subscribe-form label {
	display: inline;
	font-size: 1.1em;
	font-weight: normal;
	padding: 0 0.6em
	}	
#mc-embedded-subscribe-form input[type="email"] {
	width: 34%;
	}
#mc-embedded-subscribe-form input[type="submit"] {
	text-transform: none;
	letter-spacing: 0;}
  
  
/* Page Section Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */ 
/*Menu Button*/
#menu_btn_wrapper {
	
	position: fixed;
	right: 3%;
	top: 4px;
	padding: 0 8px;
	z-index: 100;
}
#menu_btn {	height: 32px;}
#menu_btn .menu_btn_line { 
	position: relative; 
	background-color: #fff; 
	width: 24px; 
	height: 4px; 
	margin: 4px 0px;
	-webkit-border-radius: 1px; 
	border-radius: 1px; }

/*Header */	

#header .address-social .social img {
display: none;
	
	/*display:inline-block;
	width: 24px;
	float: left;	
	margin-right: 0.5em;
	margin-bottom: 1em;
	*/
}

#header .address{
	position: fixed;
	width: 96%;
	height: 32px;
	padding: 4px 0;
	background-color: #f5f2db;
	border-bottom: 2px solid #fff;
	z-index: 99;
}

#header .address-social .address p {
	padding: 0 8px;
	float:left;
	font-size:0.9em;
	font-family: Arial, sans-serif;
	line-height:32px;
	border-right: 1px solid #ccc;
}
#header .address-social .address p img {
	float: left;
	height: 24px;
	margin: 4px 0;
}
#header .address-social .address p.phone span {
	font-size:1em;
}
#header .address-social .address p.email span {
	display:none;
}

/*Mobile Navigation*/
#mobile_nav {
	display: none;
	margin-top: 50px;
}
#mobile_nav ul {
	list-style: none;
	padding:0 0.5em;
	background: #34c4d9; } 
#mobile_nav ul li {	
	padding: 0.5em 0;
	border-bottom: 2px solid #fff;
	font-weight: 700;	
	text-transform: uppercase;
	text-align:center;}
#mobile_nav ul li:last-child {border-bottom: 0;}	
#mobile_nav ul li a {
	display:block;
	color: #fff;
}
#mobile_nav ul li:hover a { color: #222;}



#header .logo {
	margin-top: 50px;
}
#header .logo img.chough-logo {
	margin: 0 auto;
	width: 80px;
}
#header .logo img.title {
	margin: 10px auto;
	width: 280px;
}
#header .logo h1 {
	margin: 0;
	padding:0;
	text-align: center;
	font-size: 14px;
	font-style: italic;
	letter-spacing: 0.2rem; 
}


/*Navigation*/	


nav {
	text-align:center;	
}
nav ul {
	display:inline-block;
	padding-left:0;
	list-style: none;
	margin: 0 auto; } 
nav ul li {	
	float:left;
	padding: 0 1em;
	margin: 0;
	font-weight: 700;	
	text-transform: uppercase;
	text-align:center;}
nav ul li:last-child {border-bottom: 0;}	
nav ul li a {color: #373529;}
nav ul li:hover a {color: #34c4d9;}
nav ul li.selected a {color: #34c4d9; cursor: default;}	



#feature {
	position:relative;
	max-height: 400px;
	margin-bottom: 1.5em;}
#feature img { }

/*--- Feature Images ---*/
#feature, #feature_images_wrapper { position: relative }
#feature_images {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0; }
    #feature_images li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        /*width: 100%;*/
        left: 50%;
        top: 0; }
    #feature_images li:first-child {
        position: relative;
        display: block;
        float: left; }
    #feature_images img {
        display: block;
        height: 220px;
        float: left;
		margin-left: -50%;
        max-width: none;
        border: 0; }
#feature_images_wrapper .rslides_nav {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0; }
#feature_images_wrapper .rslides_nav.prev {
    background: url(../images/whiteArrowLeft.png) no-repeat 50%;
    z-index: 100; }
#feature_images_wrapper .rslides_nav.next {
    background: url(../images/whiteArrowRight.png) no-repeat 50%;
    right: 0; }

#content .grid-col,
#footer .grid-col {
	margin-bottom: 1.5em;
}



#map_canvas {position:relative; height: 400px; width:100%;}
#map_canvas img {max-width: none;}
#map_canvas img.logo {width: 175px;}	
#map_canvas #content_map {padding:0; margin:0}	

#navigation,
#subscribe,
#strapline {
	display: none;}	

.boxes {margin-bottom: 1.5em;}
.boxes:last-child {margin-bottom: 0;}
.box {
	background: #373529;
	display: block;
	border: 2px solid #a8a389;
	color: #f5f2db;

	}

.box span {
	display:block;
	padding: 0.5em 1em; }
	
	
iframe.q-book {
	padding: 0;
	margin-left: -0.9em;
	height: 120px;
	width: 105%;
} 

	
/*TARIFFS*/	

table.tariff, table.tariff_exb_hidden {
    width: 100%;
    margin-bottom: 15px; }
    table.tariff tr, table.tariff_exb_hidden tr {
        background-color: #fff;
        border-top: 2px solid #f5f2db; }
    table.tariff th, table.tariff_exb_hidden th {
        text-align: left;
        font-size: 0.85em;
        font-weight: bold;
        padding: 5px; }
    table.tariff th.heading, table.tariff_exb_hidden th.heading {
		width: 50px;
		text-align: right;
        font-weight: bold;
        vertical-align: middle;
        padding: 5px; }
    table.tariff td, table.tariff_exb_hidden td {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 0.85em;
        vertical-align: middle;
        text-align: right;
        padding: 1em 5px; }
table.tariff_exb_hidden {    display: none }

table.tariff.special-offer td span.was {text-decoration: line-through;}
table.tariff.special-offer td span.now {color: #34c4d9; font-weight: bold;}
	
@media (max-width: 575px) { 
    table.tariff .exb_hidden {    display: none }
    table.tariff_exb_hidden {    display: table }
}
	
	
	.voucher {
	padding: 1em;
	border: 2px solid #a8a389;
}	

/*Eating out*/
#eating_menu { background: #a8a389; } 	
#eating_menu { 
	list-style: none;
	width: 100%;
	padding: 0; } 	
#eating_menu li { 
	position: relative;
	border-bottom: 2px solid #f5f2db;
	cursor: pointer;
	padding: 0.5em; 
	color: #f5f2db; }	
#eating_menu li span { 
	margin-right:1em; }	
	
#eating_menu li.current { 
	background: #34c4d9;
	cursor: default; }	
#eating_menu li.current span { 
	font-weight: bold;
	color: #373529;}	

#eating_menu li.current .arrow-right {
	position: absolute;
	top:0;
	left: 100%;
	width: 0; 
	height: 0; 
	border-top: 1.2em solid transparent;
	border-bottom: 1.2em solid transparent;
	border-left: 0.6em solid #34c4d9; }
	
#eating_menu li.left,
#eating_menu li.right {
	float: none; }

.eating_list {
	background-color: #fff; 
}
.eating_list h2 {
	background-color: #f5f2db;
	padding: 0.2em 0 1em;
}

.rest_listing {
	padding: 1.5em 2em;
	border-bottom: 2px solid #f5f2db;}
.rest_listing .rest_contact {
	font-family: Arial, sans-serif;
	font-size: 0.90em;}
.rest_listing .rest_img {
	width: 225px;}	
	
.rest_listing .TA_socialButtonBubbles {margin-top: 1em;}
.rest_listing .TA_socialButtonBubbles img{ display: inline;}

	
#footer {
	padding: 2em;
	color: #f5f2db;
}	
#footer .container{
	margin: 0 auto;
}	


#footer .footer-nav ul {
	margin: 0 0 1.5em 0;
	padding: 0;
	list-style: none;}
#footer .footer-nav ul li { padding: 0.25em 0;}
#footer .footer-nav ul li a {color: #f5f2db;}
#footer .footer-nav ul li:hover a {color: #a8a389;}

#footer h2 {clear: both;}

#footer h3 {
	font-size: 0.95em;	
	font-weight: 600;
	margin-bottom: 0.1em;
}

#footer p {
	font-size: 0.95em;
}
#footer p.phone {
	font-size: 1.5em;
}


#footer .tripadvisor {
	position:relative;
}

#footer .social img  {
	display:inline-block;
	width: 24px;
	margin-right: 0.5em;
	float: left;
}

#footer #CDSWIDCOE {margin: 0!important;}



/* -- Begin grids
------------------------------------------------------------- */
/* -- Use this wrapper if you want to divide your columns -- */
.divide-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
  margin-bottom: 1.5em; }

/* -- Use this wrapper if you want to block-out a column with padding 
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */
.island {
  /*padding: 2em 3em;*/
  padding: 1em 1em;
  background-color: #f5f2db; }
  .island :last-child {
    margin-bottom: 0; }

/* -- Setup grids with base class -- */
.grid-wrap {
  /*margin-left: -3em;*/
  margin-left: -1em;
  overflow: hidden;
  clear: both; }

.grid-col {
  float: left;
  /*padding-left: 3em;*/
  padding-left: 1em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.large-gutter {
  margin-left: -6em; }
  .large-gutter .grid-col {
    padding-left: 6em; }

.half-gutter {
  margin-left: -1.5em; }
  .half-gutter .grid-col {
    padding-left: 1.5em; }

.no-gutter {
  margin-left: 0; }
  .no-gutter .grid-col {
    padding-left: 0; }

.reset-gutter {
  margin-left: -3em; }
  .reset-gutter .grid-col {
    padding-left: 3em; }

ul.grid-wrap,
ol.grid-wrap {
  padding-left: 0;
  list-style: none; }

li.grid-col {
  margin-left: 0;
  margin-bottom: 0; }

.col-full,
.col-set-full .grid-col {
  width: 100%; }

.col-one-half,
.col-set-one-half .grid-col {
  width: 50%; }

.col-one-third,
.col-set-one-third .grid-col {
  width: 33.333%; }

.col-one-quarter,
.col-set-one-quarter .grid-col {
  width: 25%; }

.col-two-thirds {
  width: 66.666%; }

.col-three-quarters {
  width: 75%; }

/* -- Breakpoint (.bp1)
------------------------------------------------------------- */
@media only screen and (min-width: 480px) {
  .bp1-col-full,
  .bp1-col-set-full .grid-col {
    width: 100%; }

  .bp1-col-one-half,
  .bp1-col-set-one-half .grid-col {
    width: 50%; }

  .bp1-col-one-third,
  .bp1-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp1-col-one-quarter,
  .bp1-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp1-col-two-thirds {
    width: 66.666%; }

  .bp1-col-three-quarters {
    width: 75%; } 
	
#header .address-social .address p.email span {
	display:inline;
	margin-left: 8px;
}
	
.rest_listing .rest_img {
	width: 225px;}	

	
}
/* -- Breakpoint 2 (.bp2)
------------------------------------------------------------- */
@media only screen and (min-width: 699px) {
	
.island { padding: 1em 2em;}

.grid-wrap { margin-left: -2em; } 

.grid-col { padding-left: 2em; }
	
	
  .bp2-col-full,
  .bp2-col-set-full .grid-col {
    width: 100%; }

  .bp2-col-one-half,
  .bp2-col-set-one-half .grid-col {
    width: 50%; }

  .bp2-col-one-third,
  .bp2-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp2-col-one-quarter,
  .bp2-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp2-col-two-thirds {
    width: 66.666%; }

  .bp2-col-three-quarters {
    width: 75%; } 

body {font-size: 1.6em }

	
#menu_btn_wrapper,	
#mobile_nav {
	display: none;
}

#header .address-social {
	padding-top: 2.8em;
}

#header .address-social .social img {
	display:inline-block;
	width: 24px;
	float: left;	
	margin-right: 0.5em;
	margin-bottom: 1em;
}
#header .address{
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-bottom: 0;
	z-index: 99;
}

#header .address-social .address p {
	clear: both;
	padding: 0;
	line-height:28px;
	border-right: 0;
	margin: 0;
}
#header .address-social .address p img {
	height: 18px;
	margin: 4px 0;
}
#header .address-social .address p.phone span {
	font-size:1em;
	margin-left: 8px;
}
#header .address-social .address p.email span {
}

#header .logo img.chough-logo {
	width: 100px;
}
#header .logo img.title {
	width: 330px;
}

#header .check-availability {
	z-index: 100;
}
#header .check-availability .button {
	display: inline-block;
	float:right;
	margin: 5px auto;
}  

#header .check-availability form {
	clear: both;
}  

#navigation,
#subscribe,
#strapline {
	display:block;
	margin: 0 auto;
	padding: 0;}
nav {
	display:block;
	font-size: 0.85em;
}
	#feature {margin-bottom:0;}
    #feature_images li {left: 0; width: 100%;}
    #feature_images img {margin-left: 0; height: auto;max-width: 100%;}

	
	#footer {
		padding: 2em 0;
	}	
	
}
/* -- Breakpoint 3 (.bp3)
------------------------------------------------------------- */
@media only screen and (min-width: 980px) {
  .bp3-col-full,
  .bp3-col-set-full .grid-col {
    width: 100%; }

  .bp3-col-one-half,
  .bp3-col-set-one-half .grid-col {
    width: 50%; }

  .bp3-col-one-third,
  .bp3-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp3-col-one-quarter,
  .bp3-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp3-col-two-thirds {
    width: 66.666%; }

  .bp3-col-three-quarters {
    width: 75%; } 
	
nav {font-size: 1em;}	

#header .check-availability .button {display: none;}
#header .check-availability form { display:block; margin-top: 1.5em;}
	
	/*#footer .grid-wrap {
		margin-right: 150px;
	}
	
	#footer .tripadvisor {
	position:absolute;
	top: 0;
	right: 2%;
	}	*/
	
}

@media print {
  .print-full,
  .print-set-full .grid-col {
    width: 100%; }

  .print-one-half,
  .print-set-one-half .grid-col {
    width: 50%; }

  .print-one-third,
  .print-set-one-third .grid-col {
    width: 33.333%; }

  .print-one-quarter,
  .print-set-one-quarter .grid-col {
    width: 25%; }

  .print-two-thirds {
    width: 66.666%; }

  .print-three-quarters {
    width: 75%; } 
	
nav {font-size: 1em;}	

#header .check-availability .button {display: none;}
#header .check-availability form { display:block; margin-top: 1.5em;}
	
	/*#footer .grid-wrap {
		margin-right: 150px;
	}
	
	#footer .tripadvisor {
	position:absolute;
	top: 0;
	right: 2%;
	}	*/
	

.no-print {display: none;}	
.pagebreak { page-break-before: always; } /* page-break-after works, as well */
	
}
