/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {font-size: 62.5%;overflow-x:hidden; scroll-behavior:smooth; scroll-padding-top: 83px;}
@media (min-width:1400px){
    html {scroll-padding-top: unset;}
}
body {
margin: 0;
font: 1.6em/1.8 "Open Sans", sans-serif;
color: #292929; }

.left {float: left;}
.right {float: right;}

/* Colour Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dark-iris-bg {background-color: #2D3A4E; }
.iris-bg {background-color: #33435B; }
.gold-bg {background-color: #C5A359; }
.champagne-bg {background-color: #F0EAD6; }
.floral-white-bg {background-color: #FFFAF0; }
.pugin-red-bg {background-color: #923841; }

.dark-iris-text {color: #2D3A4E; }
.iris-text {color: #33435B; }
.gold-text {color: #C5A359; }
.champagne-text {color: #F0EAD6; }
.floral-white-text {color: #FFFAF0; }
.pugin-red-text {color: #923841; }
.jet-text {color: #292929; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */  

h1,h2,h3,h4,h5, nav, .welcome {
font-family: "Merriweather", "Georgia", serif;
margin-top: 0;
margin-bottom: 1em;
font-weight: normal;}

/* h3 {margin-bottom: 0.5em;} */

h1 {font-size: 3.6rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 {font-size: 3.2rem; line-height: 1.25; letter-spacing: -.1rem;  margin-bottom: 0.5em}
h3 {font-size: 2.4rem; line-height: 1.3;  letter-spacing: -.05rem; font-weight: 700;}
h4 {font-size: 1.8rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 {font-size: 1.4rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 {font-size: 1.2rem; line-height: 1.6;  letter-spacing: 0; }

p {margin: 0 0 1em 0; }
.introduction p:last-child{margin: 0;}
#content_map p {font-size: 18px;}
footer p {margin: 0 0 0.75em 0;}

ul.list {padding-left: 1em}
ul.list li {padding-left: 0.5em; margin-bottom: 0.075em;}

.small {font-size: 0.75em;} 

.welcome {font-size: 1.8rem; letter-spacing: 0.15rem; }

.special-offer h2 {font-size: 2.4rem; letter-spacing: 0.15rem; text-transform: uppercase; font-weight: 700;}
.special-offer h3 {font-weight: 400; margin-bottom: 0;}

.fancy {
padding:0.5em 0 1.5em ;
line-height: 1em;
text-align: center;
width: 100%;
}

.fancy span, .fancy ul {
position: relative;
display: flex;
justify-content: center;
align-content: stretch;
gap: 28px;
}
.fancy span:before,
.fancy span:after,
.fancy ul:before,
.fancy ul:after  {
    content: "";
    position: relative;
    height: 5px;
    border-top: 1px solid #C5A359;
    top: 0.5em;
    width: 30%;
}
.fancy.short span:before,
.fancy.short span:after {
    width: 3.5em;
    flex: none;
}
.fancy.page-title span::before,
.fancy.page-title span::after {
    top: 1.5em
}
@media (min-width:769px){
    .fancy.short span:before,
    .fancy.short span:after {width: 10em;}
}

hr {
    border: none;
    border-top: 1px solid #C5A359;
    margin: 2em 0;
}
hr.short {
    width: 60%; margin: 2em auto;
}
.alternating-cards .fancy-card hr {margin-top: 0.5em;}

.feature-card-row,
.fancy-card-row {
    display: flex; 
    align-items: stretch;
    flex-wrap: wrap;
}

.fancy-card {
    padding: 30px;
}

.corner {
    height:20px;
    width:20px;    
    position:absolute;
}
.bottom-left-corner {
    left: -2px;
    bottom: -2px;
    border-radius: 0px 20px 0px 0px;
    border-top: 2px solid #C5A359;
    border-right: 2px solid #C5A359;
}
.bottom-right-corner {
    right: -2px;
    bottom: -2px;
    border-radius: 20px 0px 0px 0px;
    border-top: 2px solid #C5A359;
    border-left: 2px solid #C5A359;
}
.top-left-corner {
    left: -2px;
    top: -2px;
    border-radius: 0px 0px 20px 0px;
    border-bottom: 2px solid #C5A359;
    border-right: 2px solid #C5A359;
}
.top-right-corner {
    right: -2px;
    top: -2px;
    border-radius: 0px 0px 0px 20px;
    border-bottom: 2px solid #C5A359;
    border-left: 2px solid #C5A359;
}

.fancy-card-border {
    position:relative;
    height:100%;
    width:100%;
    border: solid 2px #C5A359;
    border-radius: 5px -5px 5px 5px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fancy-card-border .button {align-self: center;}
@media (min-width:601px){
    .fancy-card-border {padding: 40px 60px;}
}

/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img {max-width: 100%; }

.hero-wrap {position: relative;}

.hero-wrap .hero-overlay {
    position: absolute;
    bottom: 0;
    height:37%;
    width: 100%;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #222222 89%);
    mix-blend-mode: multiply;
}

.social img {width: 48px; margin: 0 4px;}
@media (max-width:768px) {
    .social img {width: 36px;}
}

.mobile-title-logo {margin-right: 72px}
.mobile-title-logo img {width: 100%; max-width: 450px; margin: 10px 0 8px;}
.chough-logo {width: 105px; margin: 4px;}
.title-logo {width: 450px; margin: 4px 0; margin-bottom: 24px;}
@media (min-width:769px) {
    .title-logo {margin-bottom: 36px;}
}

nav .white-logo {width: 75%; margin: 4px 0;}

#section_links .link-image {
    display: block;
    margin: 0 auto 16px;
    width: 96px;
}
@media (min-width:480px){
    #section_links .link-image {
        float: left;
        width: 128px;
    }
}
.fancy-card-image {
    overflow: hidden;
}
.fancy-card-image img {
    transition: max-height 0.4s ease;
    transition: max-width 0.4s ease;
}

@media (min-width:993px){
    .alternating-cards .fancy-card-row:nth-child(even) .fancy-card-image {order: 2;}
    .fancy-card-image {max-height: 505px;}
    .fancy-card-image img {max-height: 505px;  max-width: unset;}

    .feature-card-image {
        overflow: hidden;
        max-height: 100%;
    }
    .feature-card-image img {
        max-width: none;
        max-height: 100%;
        vertical-align:middle;
    }    
}
@media (min-width:1250px) {
    .fancy-card-image {max-height:unset; }
    .fancy-card-image img {max-height: unset; max-width: 100%;}
}
@media (min-width:1400px) {
    .fancy-card-image {max-height: 500px;}
    .fancy-card-image img {max-height: 505px;  max-width: unset;}
}
@media (min-width:1560px) {
    .fancy-card-image {max-height:unset; }
    .fancy-card-image img {max-height: unset; max-width: 100%;}
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {text-decoration: none; color: #923841;}
a:hover {color:#33435B; }
nav a, footer a {color: #F0EAD6;}
nav a:hover, footer a:hover {color:#C5A359;}
nav a.selected {color: #A6843A; font-weight: 700;}
nav .w3-button:hover {background-color:#C5A359!important; color: #2D3A4E!important;}
nav .w3-button:hover.selected {background-color:#2D3A4E!important;color: #A6843A!important;}
.menu-button {
    height: 56px; 
    width: 56px;
    margin: 0 16px;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    border-radius: 5px;
}
.menu-button:hover {color: #C5A359;}
nav .menu-button {margin-top: 16px;}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, 					/* Button Defaults */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
display: inline-block;
height: 32px;
padding: 0 32px;
text-align: center;
font-family: Arial, sans-serif;
font-size: 14px;
font-weight: bold;
line-height: 30px;
letter-spacing: .1rem;
text-transform: uppercase;
text-decoration: none;
white-space: nowrap;
color: #292929;
background-color: #C5A359;
border-radius: 50px;
border: 1px solid #C5A359;
cursor: pointer;
box-sizing: border-box;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    .button:hover,
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    .button:focus,
    button:focus,
    input[type="submit"]:focus,
    input[type="reset"]:focus,
    input[type="button"]:focus {
    color: #292929;
background-color: #A6843A;  
    border-color: #A6843A;
    outline: 0; }
    
.button.button-iris, 	/* Button iris */
button.button-iris,
input[type="submit"].button-iris,
input[type="reset"].button-iris,
input[type="button"].button-iris {
color: #FFFAF0;
background-color: #33435B;
border-color: #33435B; }
    .button.button-iris:hover,
    button.button-iris:hover,
    input[type="submit"].button-iris:hover,
    input[type="reset"].button-iris:hover,
    input[type="button"].button-iris:hover,
    .button.button-iris:focus,
    button.button-iris:focus,
    input[type="submit"].button-iris:focus,
    input[type="reset"].button-iris:focus,
    input[type="button"].button-iris:focus {
    color: #FFFAF0;
    background-color: #2D3A4E;
    border-color: #2D3A4E; }

#map_canvas button {border-radius: 0;}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form {
    margin-bottom: 1em;
}

.booking-form,
.subscribe-form {
    position: relative; 
    top: -35px;
    width: 95%;
    padding: 10px; 
    margin: 0 auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
.booking-form form,
.subscribe-form form { 
    margin: 0;
}
.booking-form label,
.subscribe-form label {
    font-family: "Merriweather", "Georgia", serif;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.15rem; 
    margin: 0 auto 10px;
}
.booking-form-inputs {width: 100%;}
.booking-form input[type="text"] {width:49%; cursor: pointer;}
.subscribe-form input[type="email"] {width:100%;}
.booking-form input[type="submit"],
.subscribe-form input[type="submit"] {
    margin: 15px 0 10px;
}
@media (min-width:700px){
    .subscribe-form { padding: 20px;}
    .subscribe-form form { 
        display: flex; 
        justify-content: space-evenly;
    }
    .subscribe-form label {
        float: left;
        margin: 0;
    }
    .subscribe-form input[type="email"] {width:40%;}
    .subscribe-form input[type="submit"] {
        margin: 0;
    }
}
@media (min-width:1150px){
    .booking-form,
    .subscribe-form {
        top: -48px;
        width: 80%;
        padding: 20px; 
    }
    .booking-form form { 
        display: flex; 
        justify-content: space-evenly;
    }
    .booking-form label {
        float: left;
        margin: 0;
    }
    .booking-form-inputs {width: 50%;}
    .booking-form input[type="text"] {width:49%;}
    .subscribe-form input[type="email"] {width:50%;}
    .booking-form input[type="submit"] {margin: 0;}
}
@media (min-width:1400px){
    .booking-form-inputs {width: 60%;}
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
font-family: Arial, sans-serif;
font-size: 14px;	
height: 32px;
width:100%;
padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
background-color: #fff;
border: 1px solid #D1D1D1;
border-radius: 3px;
box-shadow: none;
box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
-webkit-appearance: none;
    -moz-appearance: none;
        appearance: none; }
textarea {
min-height: 65px;
padding-top: 6px;
padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
border: 1px solid #292929;
outline: 0; }
label,
legend {
display: block;
margin-bottom: 1em; }
fieldset {
padding: 0;
border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
display: inline; }
label > .label-body {
display: inline-block;
margin-left: .5rem;
font-weight: normal; }

/* Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {width: 95%; margin: 0 auto;}
.grid-wrap {
    margin-left: -4em;
    overflow: hidden;
    clear: both; }
  
.grid-col {
    float: left;
    padding-left: 4em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

#feature {
    width: 100%;
    margin: 0 auto;
}

#feature .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}
@media (min-width:601px){
    .content {width: 90%; margin: 0 auto;}
    #feature {
        width: calc(80% - 32px);
    }
    #feature .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 64px;
    }
}
@media (min-width: 993px){
    .content {width: 80%; margin: 0 auto;}
    #feature {
        height: 500px;
        width: 90%;
    }
}
@media (min-width: 1300px){
    #feature {
        width: calc(80% - 32px);
    }
}

.special-offer {
    margin: 32px -16px;
}

#section_links {
    width: 95%;
    margin: 24px auto 24px;
    padding: 0 24px
}
#section_links .link {
    border-bottom: 1px solid #C5A359;
    padding: 30px 40px 15px;
}
#section_links div:last-child {border-bottom: none;}


#section_links .link-text {text-align: center;}
@media (min-width:480px) {
    #section_links .link-text {
        margin-left: calc(10% + 128px); min-height: 144px; /* image height 128px */
        text-align: left;
    }
}
@media (min-width:850px) {
    .special-offer, .sample-dinner-menu {width: 90%; margin: 32px auto;}

    #section_links {
        width: 90%;
        margin: 50px auto 60px;
        padding: 0;
        display: table;
    }
    #section_links .link {
        border-right: 1px solid #C5A359;
        border-bottom: none;
        padding: 20px 36px 0;
        display:table-cell;
        vertical-align: top;
    }
    #section_links .half-width {width:49.99999%;}
    #section_links .half-width:first-child {padding-left: 0;}
    #section_links .half-width:last-child {padding-right: 0;}
    #section_links div:last-child {border-right: none;}
}

@media (min-width:1300px) {
    .special-offer, .sample-dinner-menu {width: 80%;}
    #section_links {width: 80%;}
    #section_links .link { padding: 20px 50px 0;}
}
